# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
*.ppt
*.pptx
*.docx
*.gz
*.bed
*.bim
*.fam
*.hh
*.frq
*.imiss
*.log
*.lmiss
*.missing
*.sample
*.gen
*.model
*.logistic
*.in
*.nosex
*.sexcheck
*.het
*.Rout
*.qc
*.genome
*.png
*.results
*.out
fail*
.RData
.Rhistory

# Exceptions
!ibdana.R
!snpmissing.R
!assocplot.R
!indmissing.R
